.ModalContents {
	align-items: center;
	background-color: #1a1a1a;
	border-radius: 25px;
	color: #fff;
	display: flex;
	font-size: 40px;
	height: 200px;
	justify-content: center;
	margin-top: 300px;
	width: 1000px;
}
