.ClaimList__MainSection {
	position: absolute;
	top: 130px;
}

.ClaimList__Filter {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.ClaimList__Table {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding: 0 64px;
	box-sizing: border-box;
	width: 100%;
}
