.ClaimList__MainSection {
	position: absolute;
	top: 100px;
}

.ClaimList__Filter {
	align-items: center;
	display: flex;
	justify-content: space-around;
}

.ClaimList__Table {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto 16px;
	overflow-x: hidden;
	width: 100%;
}
